/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

html, body {
  height: 100%;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  height: 100%;
}

@media (min-width: 768px) {
  .main, .page-footer {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: white;
}

.page-footer-wrap {
  height: 50px;
}

.dialog-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  padding: 0 40px;
  max-width: 1000px;
  min-width: 200px;
  background-color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-height: 80%;
}

.header {
  border-bottom: 1px solid #eee;
}

.title > * {
  display: inline-block;
}

.dialog > .header > .title {
  flex-shrink: 0;
  word-break: break-all;
  text-align: center;
}

.dialog > .content {
  overflow: auto;
}

.dialog > .footer {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog.left > .header > .title {
  text-align: left;
}

.dialog.left > .footer {
  justify-content: flex-start;
}

#app, .row, .main, #page {
  height: 100%;
}

li {
  list-style-type: none;
}

ul, ol {
  -webkit-padding-start: 0;
}

.group {
  margin: 10px 0;
}

.input-group-addon, .input-group-btn {
  width: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.static-text {
  padding-top: 7px;
}

.text-nav {
  display: flex;
  margin: 10px 0;
}

.text-nav > span {
  padding: 5px;
}


